{% extends "/base.html" %}
{% set active_page = "projects" %}
{% import "projects/_helpers.html" as helper %}
{% set description = project.description %}

{% block content %}
{% if project %}

{% if project.info['splash'] %}
{% set has_splash = "true" %}
<div class="splash" style="background-image: url('{{ project.info['splash'] }}');">
{% else %}
    <div style="height:100vh;">
{% endif %}

    <div class="vcenter hcenter position-relative" style="height:100%;">
        <div class="container text-center ie-mid-vcenter padding-top-sm">
            <h1>{{ helper.render_project_title(project) }}</h1>
            <h2>{{ overall_progress | round | int }}% complete</h2>

            {% if current_user.is_authenticated and (current_user.id == project.owner_id or current_user.admin) %}
                <a href="{{ url_for('project.tasks', short_name=project.short_name) }}" class="btn btn-default">Dashboard</a>
            {% endif %}

            <!-- Contribute button -->
            <div class="col-xs-12">
                <a href="{{ url_for('project.presenter', short_name=project.short_name)}}"
                   data-progress="{{ overall_progress | round | int }}"
                   class="btn btn-circle btn-circle-large btn-circle-progress {% if overall_progress < 100 %}glowing-link{% endif %}"
                   style="background-color: #923535">
                    <div class="arc arc-q1"></div>
                    <div class="arc arc-q2"></div>
                    <div class="arc arc-q3"></div>
                    <div class="arc arc-q4"></div>
                    <p>Contribute<br>Now</p>
                </a>
            </div>
        </div>
    </div>
</div>

{% if overall_progress < 100 %}
<section class="pattern-white-wall box-shadow-white-top">
    <p class="attribution">{{ project.info['splash_attribution']|safe }}</p>

    <div class="container container-padded">
        <div class="col-xs-10 col-xs-offset-1">
            {% if project.info.get('tutorial_video') %}
            <div class="row text-center container-padded">
                {{ project.info['tutorial_video']|safe }}
            </div>
            {% endif %}
            {% if project.long_description %}
                {{ project.long_description | e | markdown }}
            {% endif %}
        </div>
    </div>
</section>
{% endif %}


<section class="inset-shadow-top">
    <div class="container container-padded">
        <div class="row">
            <div class="col-xs-12 text-center">
                {% if overall_progress < 100 %}
                <h2>Get involved</h2>
                <p>Your contributions will have a direct impact on enabling future reasearch at the British Library.<p>
                <div class="row text-center padding-top-xs">
                    <a href="{{ url_for('project.presenter', short_name=project.short_name)}}" class="btn btn-danger"> Contribute now</a>
                </div>
                {% else %}
                <h2>Many thanks to all those that helped us complete this project!</h2>
                <p>Click below to find an active project<p>
                <div class="row text-center padding-top-xs">
                    <a href="{{ url_for('project.index')}}" class="btn btn-danger">View all projects</a>
                </div>
                {% endif %}

                <hr class="padding-bottom-sm">
                {{ helper.render_social_media_buttons("www.libcrowds.com/project/{{ project.short_name }}", "Come and give us a hand with {{ project.name }}!") }}

                {% if 'pybossa_discourse' in plugins %}
                <div class="col-xs-12 col-md-6 col-md-offset-3 padding-top-md">
                    {{ discourse.comments() }}
                </div>
                {% endif %}
            </div>
        </div>
</section>

{% if 'pybossa_discourse' in plugins and project.published %}
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <hr class="padding-bottom-xs">
        {{ discourse.comments() }}
    </div>
{% endif %}

<script src="{{url_for('static', filename='js/btn-progress.js')}}" type="text/javascript"></script>
<link href="{{url_for('static', filename='css/btn-progress.css')}}" rel="stylesheet" type="text/css" />
{% else %}
    {{ helper.render_non_existant_project() }}
{% endif %}

{{ helper.broken_image() }}
{% endblock %}