<div class="splash" id="about-splash">
    <div class="splash-overlay vcenter hcenter"></div>
</div>

<section class="mid-grey pattern-brushed box-shadow-grey-bottom">
    <p class="attribution">Photo: &copy; <a href="http://contentdm.carleton.edu/cdm/compoundobject/collection/Algol/id/5080/rec/71" target="_blank">Carleton Digital Collections</a></p>
    <div class="container container-padded">
        <div class="col-md-11">
            <h1 class="inset-text-grey">About</h1>
            <p class="lead">
            	Tag-A-Carl is a platform built by <a href="https://github.com/spoonierbard" target="_blank">Bard Swallow</a> and <a href="https://github.com/govekk" target="_blank">Kiya Govek</a>,
            	in association with <a href="https://apps.carleton.edu/campus/its/at/" target="_blank">Academic Technology at Carleton College</a>. It aims to crowdsource tagging of Carleton Archives photos by alumni. By
            	participating in the crowdsourcing projects hosted here, you will help Carleton Faculty, Staff, Students, and Alums access our
            	collections more easily in the future.
            </p>
        </div>
    </div>
</section>

<section class="white pattern-white-wall box-shadow-white-bottom">
    <div class="container container-padded">
        <div class="col-md-11 padding-bottom-sm">
            <h2>Technology</h2>
            <p>
                Tag-A-Carl is built on top of <a href="http://docs.pybossa.com/"> PyBossa </a>, an open-source Python framework for the creation of crowdsourcing projects. PyBossa is written in Python and uses the <a href="http://flask.pocoo.org/">Flask</a> micro-framework. Each
                project on the platform is written in a combination of HTML, CSS and Javascript. The
				<a href="https://github.com/LibCrowds/libcrowds-pybossa-theme" target="_blank">LibCrowds theme</a>, developed by <a href="http://github.com/alexandermendes">Alexander Mendes</a>, is open-souce and available on GitHub.
            </p>
            <p>
                {% if plugins %}
                    LibCrowds is currently running the following plugins:
                    <ul class="no-style">
                    {% for p in plugins.values() %}
						{% if p.name %}
                        <li>{% if p.website and p.version %}
								<a href="{{ p.website }}"><strong>{{ p.name }}</a> (v{{ p.version }})</strong>
							{% elif p.website %}
								<a href="{{ p.website }}"><strong>{{ p.name }}</a></strong>
							{% else %}
								<strong>{{ p.name }}</strong>
							{% endif %}
							{% if p.description %}<strong>:</strong> {{ p.description }}{% endif %}
						</li>
						{% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </p>
            <div class="col-sm-6 col-sm-offset-3 col-xs-12 padding-top-sm">
                <div class="col-xs-4"><img src="{{url_for('static',filename='img/html-logo.png')}}" class="img-responsive web-badge" alt="HTML5 web badge"></div>
                <div class="col-xs-4"><img src="{{url_for('static',filename='img/css-logo.png')}}" class="img-responsive web-badge" alt="CSS3 web badge"></div>
                <div class="col-xs-4"><img src="{{url_for('static',filename='img/js-logo.png')}}" class="img-responsive web-badge" alt="JavaScript web badge"></div>
            </div>
        </div>
    </div>
</section>

<section class="white">
    <div class="container container-padded">
        <div class="col-md-11 padding-top-xs padding-bottom-sm">
            <h2>Contact information</h2>
            <ul class="no-style">
                {% if 'pybossa_discourse' in plugins %}
                <li>Visit the <a href="{{url_for('discourse.index')}}">LibCrowds Community</a> for more information or to report any issues.</li>
                {% else %}
                <li><a href="mailto:nwilson@carleton.edu">Email us</a> for more information.</li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
