{% extends "base.html" %}
{% set has_splash = "true" %}
{% import "projects/_helpers.html" as helper %}
{% import "account/_helpers.html" as account_helper %}

{% block content %}
<div class="splash" id="home-splash">
    <div class="splash-overlay vcenter hcenter">
        <div class="container ie-vcenter">
            <h1>Crowdsourcing tagging<br>for the Carleton Archives</h1>
            <div class="col-xs-12">
                <div data-anchor="#featured-projects" class="btn btn-circle anchor-btn">
                    <a>
                        <div><i class="fa fa-angle-double-down fa-3x padding-top-sm"></i></div>
                        <div><br>Get<br>Started</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="mid-grey pattern-brushed box-shadow-grey-bottom">
    <p class="attribution">Photo: <a href="http://contentdm.carleton.edu/cdm/compoundobject/collection/Zoobooks/id/1399/rec/1" target="_blank">Carleton Digital Collections</a></p>
    <div class="container container-padded">
        <div class="col-sm-offset-2 col-sm-8 text-center">
            <h2 class="inset-text-grey text-center">What's this all about?</h2>
            <p class="lead text-left">
                Tag-A-Carl is a platform built by <a href="https://github.com/spoonierbard" target="_blank">Bard Swallow</a> and <a href="https://github.com/govekk" target="_blank">Kiya Govek</a>,
                in association with <a href="https://apps.carleton.edu/campus/its/at/" target="_blank">Academic Technology at Carleton College</a>. It supports crowdsourcing projects aimed at improving access to the collections in the Carleton Archives. Your participation will have a direct impact on making the Archives materials more accessible.
            </p>
            <a href="{{ url_for('home.about')}}" class="btn btn-default">Find Out More</a>
        </div>
    </div>
</section>

<a id="featured-projects"></a>
<section class="white pattern-white-wall box-shadow-white-bottom">
    <div class="container padding-top-sm">
        {% if categories_projects['featured'] %}
        <div class="text-center col-xs-12 padding-bottom-sm">
            <h2>Featured Crowdsourcing Projects</h2>
        </div>
        <div class="polaroids">
            {% for project in categories_projects['featured'] %}
              {{ helper.show_project(project, "featured", current_user, upload_method) }}
            {% endfor %}
        </div>
        {% else %}
        <div class="col-xs-12 text-center">
            <div class="row">
                <h2><a href="{{url_for('project.index')}}">Get involved</a></h2>
                <p>Your contributions will have a direct impact on enabling future reasearch at the British Library.<p>
            </div>
        </div>
        {% endif %}
        <div class="col-xs-12 text-center padding-bottom-md">
            <a class="btn btn-default" href="{{url_for('project.index')}}">View All Projects</a>
        </div>
    </div>
</div>


<section id="top_users">
    <div class="container container-padded">
        {% if top_users %}
            <div class="col-xs-12">
            <div class="row text-center">
                <h2>Most Active Volunteers</h2>
            </div>
            <ul class="users text-center">
            {% for user in top_users %}
                <li class="text-center">
                <a href="{{url_for('account.profile', name=user.name)}}" data-content="
                    <strong>Joined:</strong> {{user.created[8:10]}}-{{user.created[5:7]}}-{{user.created[0:4]}}
                    <br>
                    <strong>Contributions:</strong> {{user.score}}
                    " class="avatar-popover" data-original-title="<strong>{{user.name}}</strong>
                     ">
                    <div class="shadow img-circle shadow-circle">
                        {{ account_helper.render_user_avatar(user, upload_method) }}
                    </div>
                </a>
                <p class="label label-danger">{{user.score}}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-xs-12 text-center padding-top-sm">
            <a class="btn btn-danger" href="{{url_for('leaderboard.index')}}">View Leaderboard</a>
            <hr class="padding-bottom-xs">
        </div>
        {% endif %}
        {{helper.render_social_media_buttons("www.libcrowds.com", "Come and have a go at the British Library's crowdsourcing platform!") }}
    </div>
</section>
{{ helper.broken_image() }}
{% endblock %}
