/* General */

html {
    overflow-x: hidden;
    height: 100%;
    width: 100%
}

body {
    min-height: 100%;
    font-weight: 300;
    background-color: #fff;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #666;
    margin: 0 auto
}

p {
    margin: 0 0 20px
}

p.muted {
    color: #777
}

p.score {
    margin-top: -20px;
    font-size: 1.8em
}

a {
    color: #3676b3;
    text-decoration: none
}

a:focus,
a:hover {
    color: #6898c6;
    text-decoration: none
}

a[rel="popover"] {
    cursor: pointer
}

a.remove-colour {
    color: #404040!important
}

p a:link {
    text-decoration: underline;
}
p a:visited {
    text-decoration: underline;
}
p a:hover {
    text-decoration: underline;
}
p a:active {
    text-decoration: underline;
}

section {
    position: relative
}

section:before {
    right: 100%;
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px
}

section:after {
    left: 100%;
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px
}

section.grey,
section.grey:before,
section.grey:after {
    background-color: #FAFAFA;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #FAFAFA
}

section.mid-grey {
    color: #666;
    font-weight: lighter
}

section.mid-grey p {
    color: #777
}

section.mid-grey,
section.mid-grey:before,
section.mid-grey:after {
    background-color: #F0F2F1
}

section.dark-grey {
    color: #fff
}

section.dark-grey p {
    font-weight: 400
}

section.dark-grey,
section.dark-grey:before,
section.dark-grey:after {
    background-color: #292D2F
}

section.white,
section.white:before,
section.white:after {
    background-color: #fff
}

.pattern-brushed {
    background-image: url(../img/patterns/brushed.png)
}

.pattern-classy-fabric {
    background-image: url(../img/patterns/classy_fabric.png)
}

.pattern-white-wall {
    background-image: url(../img/patterns/white_wall_hash.png);
    font-weight: lighter
}

.pattern-white-wall h1,
.pattern-white-wall h2,
.pattern-white-wall h3 {
    color: #696969
}

.inset-text-grey {
    text-shadow: #efefef .5px .5px 0;
    font-weight: 300;
    color: #777
}

.inset-text-grey-header {
    text-shadow: #efefef .5px .5px 0;
    font-weight: 300;
    color: #777;
    margin-top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    -moz-box-shadow: inset 0 -3px 5px -3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 -3px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px 5px -3px rgba(0, 0, 0, 0.2);
    background-image: url(../img/patterns/brushed.png)
}

.inset-text-mid-grey {
    text-shadow: #EDEDED .5px .5px 0;
    font-weight: 300;
    color: #545454
}

.inset-text-dark-grey {
    text-shadow: #A6A6A6 .5px .5px 0;
    font-weight: 300;
    color: #484848
}

.shadow.shadow-inline {
    display: inline-block;
    position: relative
}

.shadow {
    display: block;
    position: relative
}

.shadow img {
    display: block
}

.shadow::before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2)
}

.shadow-circle {
    border: 1px solid #ECEDED;
    border-radius: 50%
}

.shadow-circle::before {
    border-radius: 50%
}

.inset-shadow {
    -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(223, 223, 223, 0.5)
}

.inset-shadow-white {
    -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 1)
}

.inset-shadow-top {
    -moz-box-shadow: inset 0 2px 3px -3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 2px 3px -3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 3px -3px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(223, 223, 223, 0.5)
}

.inset-shadow-bottom {
    -moz-box-shadow: inset 0 -3px 5px -3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 -3px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px 5px -3px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(223, 223, 223, 0.5)
}

.div .text-shadow {
    color: #777;
    background-color: #bababa;
    text-shadow: #e0e0e0 1px 1px 0
}

.box-shadow-white-bottom {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, 1)
}

.box-shadow-white-top {
    box-shadow:0 -3px 4px -4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 -3px 4px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -3px 4px -4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, 1)
}

.box-shadow-grey-bottom {
    box-shadow: 2px 4px 4px -4px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 2px 4px 4px -4px rgba(0, 0, 0, .4);
    -moz-box-shadow: 2px 4px 4px -4px rgba(0, 0, 0, .4);
    z-index: 2;
    border-bottom: 1px solid rgba(250, 250, 250, 0.7)
}

.box-shadow-grey-top {
    box-shadow: 0 -3px 4px -4px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 -3px 4px -4px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 -3px 4px -4px rgba(0, 0, 0, .4);
    z-index: 2;
    border-top: 1px solid rgba(250, 250, 250, 0.7)
}

.box-shadow-grey {
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    z-index: 2;
    border: 1px solid rgba(250, 250, 250, 0.7)
}

ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-left: 0;
}

ul.users {
    margin: 0 auto;
    display: table;
    list-style: none
}

ul.users li {
    display: inline-block;
    margin: 25px 0 0px 3px;
    float: none;
}

ul.users li a {
    display: block;
    margin-bottom: 5px;
    margin-right: 7px;
    margin-left: 7px
}

ul.no-style {
    list-style: none;
}

i.fa-trophy {
    color: #FFC041
}

i.fa-users {
    color: #CF60C9
}

i.fa-tasks {
    color: #3A7BD2
}

i.fa-clock-o {
    color: #54BBBB
}

i.fa-check-square-o {
    color: #15b592
}

i.remove-colour {
    color: #404040!important
}

hr.extra-margins {
    margin-top: 40px;
    margin-bottom: 40px
}

.remove-padding {
    padding: 0!important
}

.remove-padding-top {
    padding-top: 0!important
}

.remove-padding-bottom {
    padding-bottom: 0!important
}

.remove-padding-left {
    padding-left: 0!important
}

.remove-padding-right {
    padding-right: 0!important
}

.padding-top-lg {
    padding-top: 80px
}

.padding-bottom-lg {
    padding-bottom: 80px
}

.padding-left-lg {
    padding-left: 80px
}

.padding-right-lg {
    padding-right: 80px
}

.padding-top-md {
    padding-top: 50px
}

.padding-bottom-md {
    padding-bottom: 50px
}

.padding-left-md {
    padding-left: 50px
}

.padding-right-md {
    padding-right: 50px
}

.padding-top-sm {
    padding-top: 20px
}

.padding-bottom-sm {
    padding-bottom: 20px
}

.padding-left-sm {
    padding-left: 20px
}

.padding-right-sm {
    padding-right: 20px
}

.padding-top-xs {
    padding-top: 10px
}

.padding-bottom-xs {
    padding-bottom: 10px
}

.padding-left-xs {
    padding-left: 10px
}

.padding-right-xs {
    padding-right: 10px
}

.padding-sides-xs {
    padding-left: 5px;
    padding-right: 5px;
}

.remove-margin-bottom {
    margin-bottom: 0!important
}

.margin-top-lg {
    margin-top: 80px
}

.margin-bottom-lg {
    margin-bottom: 80px
}

.margin-left-lg {
    margin-left: 80px
}

.margin-right-lg {
    margin-right: 80px
}

.margin-top-md {
    margin-top: 50px
}

.margin-bottom-md {
    margin-bottom: 50px
}

.margin-left-md {
    margin-left: 50px
}

.margin-right-md {
    margin-right: 50px
}

.margin-top-sm {
    margin-top: 20px
}

.margin-bottom-sm {
    margin-bottom: 20px
}

.margin-left-sm {
    margin-left: 20px
}

.margin-right-sm {
    margin-right: 20px
}

.margin-top-xs {
    margin-top: 10px
}

.margin-bottom-xs {
    margin-bottom: 10px
}

.margin-left-xs {
    margin-left: 10px
}

.margin-right-xs {
    margin-right: 10px
}

.container-max-height {
    height: 100%
}

.container-fluid {
    padding-left: 0;
    padding-right: 0
}

.container-padded {
    padding-top: 50px;
    padding-bottom: 50px
}

.container-main {
    padding-top: 100px;
    padding-bottom: 100px
}

.white-panel {
    background-color: #FFF;
    padding: 20px 30px;
    border-radius: 15px
}

#alert-messages {
    position: fixed;
    top: 100px;
    right: 50px;
    width: 25%;
    z-index: 9999;
}

.alert-error {
    color: #f2dede;
    background-color: #f3b61d;
    border-color: #ebccd1
}

.alert-message {
    color: #3676b3;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.modal-dialog {
    margin-top: 100px;
}

.modal {
    z-index: 9999;
}

.sentry-error-embed.clearfix {
    margin-top: 100px;
    padding: 20px;
}

.sentry-error-embed .message-success:before {
    content: "Thanks for the feedback! ";
    color: #a2c098;
    font-size: 22px;
    font-weight: 400;
}

.sentry-error-embed .message-success {
    padding: 15px 30px;
}

thead {
    background: rgba(0, 0, 0, 0.15)
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05)
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 1)
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 5px 15px
}

.well {
    background-color: #fff;
    color: #777;
    z-index: 1;
    padding: 40px 40px 40px 40px;
    text-shadow: #efefef .5px .5px 0;
    border-radius: 7px;
    -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #fff
}

.well.well-link {
    text-align: center;
    height: 190px;
    transition: color 1s, box-shadow 1s;
    -webkit-transition: color 1s, box-shadow 1s;
    -moz-transition: color 1s, box-shadow 1s;
    -ms-transition: color 1s, box-shadow 1s;
    -o-transition: color 1s, box-shadow 1s;
}

.well.well-link:hover {
    box-shadow: inset 0 0px 3px 1px rgba(54, 118, 179, 0.8);
    color: #3676b3
}

.well.well-link .btn-dash {
    position: absolute;
    bottom: 40px;
    right: 40px
}

.vcenter {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.hcenter {
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center
}

@media (max-width: 767px) {
    .xs-center {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center
    }
    #alert-messages {
        width: 90%;
        right: 5%;
    }
}

@media (min-width: 768px) {
    .vcenter-sm {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .well.well-link h3,
    .well.well-link .h3 {
        font-size: 1em
    }
}

@media (max-width: 991px) {
    body {
        padding-top: 0
    }
    .text-center-sm {
        text-align: center
    }

}

@media (min-width: 992px) {
    .well.well-link {
        height: 220px;
    }
    .pull-right-md {
        float: right
    }
    .modal-dialog {
        width: 800px;
    }
    .vcenter-md {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-items: center
    }
}


/* Headers */

h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-weight: 300
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 25px;
    color: #666
}

.h1, h1 {
    font-size: 2.2em
}

.h2, h2 {
    font-size: 1.8em
}

.h3, h3 {
    font-size: 1.5em
}

.h4, h4 {
    font-size: 1.2em
}

h1 i, h2 i, h3 i {
    padding-right: 10px
}



/* Navigation */

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: 450px;
}

.navbar {
    font-family: sans-serif;
    font-weight: 400;
    border-bottom: 2px solid #eee
}

.navbar-fixed-top {
    padding-top: 30px;
    padding-bottom: 25px;
    background-color: #0B5091;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    -webkit-transition: background-color 200ms 0s, padding-top 1s 0s, padding-bottom 1s 0s;
    -moz-transition: background-color 200ms 0s, padding-top 1s 0s, padding-bottom 1s 0s;
    -ms-transition: background-color 200ms 0s, padding-top 1s 0s, padding-bottom 1s 0s;
    -o-transition: background-color 200ms 0s, padding-top 1s 0s, padding-bottom 1s 0s;
    transition: background-color 200ms 0s, padding-top 1s 0s, padding-bottom 1s 0s;
    z-index: 999
}

.navbar-fixed-top.opaque {
    z-index: 99999;
    padding-top: 10px;
    padding-bottom: 10px;
    /*
    background-color: rgba(255, 255, 255, 1);
    */
    background-color: #0B5091;
    border-bottom: 2px solid #eee
}

.navbar-brand {
    padding: 5px 15px;
    margin: 0
}

.navbar-nav>li {
    margin: 0 10px
}

.navbar .nav > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    -webkit-transition: color 200ms 0;
    -moz-transition: color 200ms 0;
    -ms-transition: color 200ms 0;
    -o-transition: color 200ms 0;
    transition: color 200ms 0
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #fff
}

.navbar.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.nav-link a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #6898c6;
    content: '';
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    -webkit-transition: -webkit-transform .2s;
    -moz-transition: -moz-transform .2s;
    -ms-transition: -ms-transform .2s;
    -o-transition: -o-transform .2s;
    transition: transform .2s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px)
}

.nav-link.active a:after {
    opacity: 1;
    transform: none
}

.navbar-fixed-top .nav-link:hover a:first-child:after,
.navbar-fixed-top .nav-link:focus a:first-child:after {
    opacity: 1;
    transform: none
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0)
}

.navbar .dropdown-menu.opaque>li>a,
.navbar.opaque .nav > li > a,
.navbar-default.opaque .navbar-nav>li>a:focus,
.navbar-default.opaque .navbar-nav>.open>a:hover,
.navbar-default.opaque .navbar-nav>.open>a:focus,
.navbar-default.opaque .navbar-nav>.open>a {
    color: #FFF;
}

.navbar .dropdown-menu>li>a:focus,
.navbar .dropdown-menu .nav-link a:hover,
.nav .open>ul>li>a:hover,
.nav .open>a:hover,
.navbar .nav > li > a:hover {
    color: #6898c6;
    background-color: #0b5091;
}

.nav > .nav-link.open > .navbar .dropdown-menu.opaque > li > a:hover,
.nav > .nav-link.open a.dropdown-toggle:hover {
    color: #6898c6;
}

.navbar .dropdown-menu {
    top: 63px;
    background-color: #0b5091
}

.navbar .dropdown-menu .nav-link {
    background-color: rgba(255, 255, 255, 0)
}

.navbar .dropdown-menu.opaque {
    background-color: #0b5091;
}

.navbar .dropdown-menu>li>a {
    color: #fff
}

.navbar .dropdown-menu .nav-link a:after {
    width: 0
}

.navbar .nav > li > a .icon {
    font-size: 22px;
    vertical-align: top
}

.navbar .btn-navbar {
    background-color: #8bbf36;
    background-image: none;
    border-color: #516f20 #516f20 #6e972b;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
}

.nav-pills {
    padding-bottom: 7px
}

.nav-pills a {
    color: #fff
}

.nav-pills>li {
    padding: 3px
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover,
.nav-pills>li>a,
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    background-color: #6898c6
}

.nav-pills.nav-pills-dark>li.active>a,
.nav-pills.nav-pills-dark>li.active>a:focus,
.nav-pills.nav-pills-dark>li.active>a:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff
}

.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #404040
}

.nav-pills.nav-pills-dark>li>a:focus,
.nav-pills.nav-pills-dark>li>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #404040
}

.nav-pills>li>a {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s
}

.nav-pills.nav-pills-dark>li>a {
    background-color: rgba(0, 0, 0, 0.1);
    color: #696969
}

.nav-tabs {
    border-bottom: none
}

.nav-tabs>li>a {
    color: #2D2D2D;
    font-weight: 400;
    border-radius: 10px 10px 0 0;
    background-image: url(../img/patterns/grey_carbon.png);
    text-shadow: #D2D2D2 .5px .5px 0
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
    color: #0b5091;
    border: 1px solid #3F3F3F
}

.nav-tabs>li.active>a {
    background-image: url(../img/patterns/white_carbon.png);
    color: #484848;
    text-shadow: #E8E8E8 .5px .5px 0;
    font-weight: 300
}

.nav-list .nav-stacked {
    background: rgba(255, 255, 255, 0.8)
}

.nav-stacked .divider {
    height: 1px;
    margin: 9px;
    overflow: hidden;
    background-color: #e5e5e5
}

.nav-stacked li > a {
    color: #888;
    padding: 2px 18px
}

.nav-stacked.inset-shadow {
    -moz-box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(145, 145, 145, 0.5)
}

.nav{
    font-weight: 400;
}

.bs-docs-sidenav {
    z-index: 99;
    padding: 0;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
}

.bs-docs-sidenav.affix li:first-child {
    padding-top: 40px
}

.bs-docs-sidenav.affix .nav-stacked li:first-child {
    padding-top: 10px
}

.bs-docs-sidenav li.nav-link {
    margin-bottom: 5px;
    display: block;
}

.bs-docs-sidenav li > a {
    color: #A0A0A0;
    display: block;
    margin: 0 0 -1px;
    padding: 10px 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    transition: color 100ms;
    -webkit-transition: color 100ms;
    -ms-transition: color 100ms;
    -moz-transition: color 100ms;
    -o-transition: color 100ms
}

.bs-docs-sidenav li > a.active,
.bs-docs-sidenav li > a.active:hover,
.bs-docs-sidenav li > a.active:focus {
    background-color: #3676b3;
    color: #F7F7F7;
    position: relative;
    z-index: 2;
    padding: 9px 20px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1)
}

.bs-docs-sidenav .nav-link.active a:after {
    opacity: 0
}

.bs-docs-sidenav .nav-link a:after {
    bottom: 0;
    right: 0;
    left: initial;
    background-color: #3676b3;
    height: 100%;
    width: 2px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    -webkit-transition: -webkit-transform .2s;
    -moz-transition: -moz-transform .2s;
    -ms-transition: -ms-transform .2s;
    -o-transition: -o-transform .2s;
    transition: transform .2s;
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px)
}

.bs-docs-sidenav .nav-link:hover > a:first-child:after,
.bs-docs-sidenav .nav-link:focus > a:first-child:after {
    opacity: 1;
    transform: none
}

.bs-docs-sidenav .nav-stacked li > a:hover,
.bs-docs-sidenav .nav-stacked li > a:focus {
    background-color: rgba(255, 255, 255, 0.7);
    color: #404040
}

.bs-docs-sidenav a.active:hover i,
.bs-docs-sidenav a.active:focus i,
.bs-docs-sidenav>li>a.active i {
    color: #fff
}

.bs-docs-sidenav>li>a:hover {
    color: #fff
}

.bs-docs-sidenav>li>a:hover,
.bs-docs-sidenav>li>a:focus {
    background: rgba(255, 255, 255, 0)
}

.bs-docs-sidenav>li.nav-link.active>a:hover,
.bs-docs-sidenav>li.nav-link.active>a:focus,
.bs-docs-sidenav>li.nav-link.active>a {
    background-color: #3676b3;
    color: #fff
}

.bs-docs-sidenav.affix {
    top: 70px;
    height: 100%;
    font-size: 14px;
    overflow-y: auto
}

.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px
}

@media (max-width: 767px) {
    .navbar .container {
        width: auto!important
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        background-color: rgba(0, 0, 0, 0)
    }
    .navbar.opaque .nav > li.active > a {
        color: #fff
    }
    .navbar.opaque .navbar-logo {}
    .navbar .nav > li > a {
        color: #404040
    }
    .navbar-fixed-top {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(255, 255, 255, 1);
        border-bottom: 2px solid #eee
    }
    .navbar-inner {
        padding-left: 15px!important;
        padding-right: 15px!important
    }
    .bs-docs-sidenav.affix {
        position: relative;
        width: 100%;
    }
    .bs-docs-sidenav li.nav-link {
        display: inline-block;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 16px
    }
    .lead {
        font-size: 1.1em;
        font-weight: 200
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .bs-docs-sidenav {
        width: 166px;
        margin-top: 0
    }
}

@media (max-width: 991px) {
    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-header {
        float: none
    }
    .navbar-toggle {
        display: block;
        color: #fff
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
    }
    .navbar-collapse.collapse {
        display: none!important
    }
    .navbar-nav {
        float: none!important;
        margin: 0px -15px
    }
    .navbar-nav>li {
        float: none
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px
    }
    .navbar-text {
        float: none;
        margin: 15px 0
    }
    .navbar-collapse.collapse.in {
        display: block!important
    }
    .navbar-nav>li {
        padding: 0 10px
    }
    .navbar .container {
        width: auto!important;
    }
    .navbar .brand {
        padding: 0
    }
    .navbar .brand img {
        max-height: 20px
    }
    .navbar .nav > li > a {
        margin-top: 5px;
        margin-bottom: 0
    }
}

@media (min-width: 1200px) {
    .bs-docs-sidenav {
        width: 220px
    }
    .navbar-nav>li {
        margin: 0 15px
    }
}



/* Content */

#body-content {
    height: auto;
    min-height: 100%;
    position: relative;
}

.glowing-link {
    -webkit-transition: text-shadow 2s linear;
    -moz-transition: text-shadow 2s linear;
    -ms-transition: text-shadow 2s linear;
    -o-transition: text-shadow 2s linear;
    transition: text-shadow 2s linear;
}

.glowing-link:hover,
.glowing-link.glow {
    text-shadow: 0 0 10px #fff, 0 0 25px #fff;
}

.glowing-link:hover .arc:before {
    border-color: #43e843;
}

.attribution {
    float: right;
    padding-right: 10px;
    font-size: 0.85em;
}

#sorts {
    z-index: 1
}

#cookies-warning {
    position: fixed;
    color: #ddd;
    min-height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99999;
    padding: 6px 20px 4px;
    background-color: rgba(70, 70, 70, 0.9);
    text-align: left
}

#cookies-warning > p {
    margin-top: 8px
}

#btn-group-cookies {
    position: relative;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    vertical-align: middle;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center
}

.web-badge {
    max-height: 100px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.web-badge:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%)
}

.pagination-centered {
    width: 100%;
    text-align: center;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}

.pagination ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination li {
    display: inline;
}

.pagination li a {
    display: inline;
    padding: 8px 16px;
    border-radius: 4px;
}

.pagination li.active a {
    background-color: #357ebd;
    color: white;
    font-weight: 400;
}

.pagination li:hover:not(.active) a {
    background-color: #FAFAFA;
}

.project-desc {
    height: 310px
}

#total-share-count {
    margin-top: 10px;
    display: none
}

#total-share-count:after {
    content: "Shared " attr(data-count) " times";
    font-size: 0.8em
}

.col-sm-3.control-label {
    line-height: 3
}

::-moz-selection {
    background: #5af;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #5af;
    color: #fff;
    text-shadow: none
}

@media (max-width: 767px) {
    #body-content {
        min-height: calc(100vh - 80px);
    }
    .project-desc {
        height: 100%;
        display: inline-block
    }
    #cookies-warning {
        padding: 2px 10px
    }
}

@media (min-width: 768px) {
    #body-content {
        min-height: calc(100vh - 120px);
    }
}

@media (min-width: 992px) {
    #btn-group-cookies {
        padding-left: 10px;
        display: inline-block
    }
}


/* Forms */

.form-control[readonly].readonly-select {
    cursor: pointer;
    background-color: #fff
}

.form-control,
.select2-container--bootstrap .select2-selection--single[role=combobox],
.select2-container--bootstrap .select2-selection--multiple[role=combobox] {
    padding: 12px 15px;
    height: 47px;
}

input.select2-search__field[type=search] {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    margin-top: -4px !important;
    padding: 0px !important;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    margin: 0px !important;
    margin-right: 10px !important;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__clear {
    margin-top: 2px !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
    font-size: 0.9em !important;
    color: #999 !important;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0
}

.inline-block {
    display: inline-block
}

.label {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #1A1A1A
}

.label-info {
    background-color: #4190c2
}

.label-success {
    background-color: #398439
}

.label-danger {
    background-color: #BA0000
}

.label-default {
    background-color: #ADADAD
}

.control-label {
    text-overflow: ellipsis;
    overflow-x: auto;
}

input:focus,
textarea:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 191, 54, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 191, 54, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 191, 54, 0.6)
}

.input-group-btn .form-control.search-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px
}

.input-group-btn .btn {
    padding: 12px 15px;
    height: 47px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid
}

.input-group-btn .btn:hover {
    border-color: #888D88
}

.inline-radio li {
    display: inline-block;
    padding-right: 20px
}

textarea {
    resize: none
}

input[type="radio"] + label {
    font-weight: inherit;
}

.form-group > ul {
    list-style: none;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 13px
    }
}


/* Buttons */

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus,
.btn.disabled:active {
    background-color: #bbb;
    border: 2px solid #bbb;
    color: #EAEAEA;
    pointer-events: all;
    cursor: not-allowed;
}



.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff;
}

.btn-twitter:active,
.btn-twitter:hover,
.btn-twitter:focus {
    background: #0087bd;
    color: #fff;
}

.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff;
}

.btn-facebook:active,
.btn-facebook:hover,
.btn-facebook:focus {
    background: #30477a;
    color: #fff;
}

.btn-tumblr {
    background: #36465D;
    border-radius: 0;
    color: #fff!important;
}

.btn-tumblr:active,
.btn-tumblr:hover,
.btn-tumbler:focus {
    background: #253142;
    color: #fff;
}

.btn-googleplus {
    background: #d34836;
    border-radius: 0;
    color: #fff;
}

.btn-googleplus:active,
.btn-googleplus:hover,
.btn-googleplus:focus {
    background: #ba3225;
    color: #fff;
}

.btn-popover {
    margin: 1px
}

.btn-stumbleupon {
    background: #f74425;
    border-radius: 0;
    color: #fff;
}

.btn-stumbleupon:active,
.btn-stumbleupon:hover,
.btn-stumbleupon:focus {
    background: #c7371e;
    color: #fff;
}

.btn-linkedin {
    background: #0e76a8;
    border-radius: 0;
    color: #fff;
}

.btn-linkedin:active,
.btn-linkedin:hover,
.btn-linkedin:focus {
    background: #0b6087;
    color: #fff;
}

.btn-twitter:link,
.btn-twitter:visited,
.btn-facebook:link,
.btn-facebook:visited,
.btn-googleplus:link,
.btn-googleplus:visited,
.btn-stumbleupon:link,
.btn-stumbleupon:visited,
.btn-linkedin:link,
.btn-linkedin:visited {
    color: #fff;
}

.btn-inverse {
    padding: 0
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 3px
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px
}

.btn-padded {
    margin-top: 10px;
    margin-bottom: 10px
}

.anchor-btn {
    cursor: pointer
}

a.anchor {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}

.btn-circle {
    z-index: 1;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #fff;
    display: block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-weight: 200;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase
}

.btn-circle-large {
    width: 120px;
    height: 120px;
    overflow: initial;
    cursor: initial;
    margin-top: 50px
}

.btn-circle.btn-circle-large p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    margin-top: 33px;
    font-size: 16px
}

.btn-circle.btn-circle-large i {
    margin-top: -13px;
}

.btn-circle a {
    color: #fff;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: transform .4s;
    -webkit-transform: translateY(-90px);
    -moz-transform: translateY(-90px);
    -ms-transform: translateY(-90px);
    -o-transform: translateY(-90px);
    transform: translateY(-90px)
}

.btn-circle a div {
    height: 87px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300
}

.btn-circle:hover a {
    transform: none
}

.btn-circle:hover,
.btn-circle:focus,
.btn-circle:active,
.btn-circle.active,
.open .dropdown-toggle.btn-primary {
    color: #FAFAFA;
    background-position: 0 -15px
}

.btn-danger.collapsed:hover,
.btn-danger.collapsed:focus,
.btn-danger.collapsed:active {
    border: 2px solid #923535;
    color: #923535;
    background-color: #fff;
}

.btn-default,
.btn-primary,
.btn-secondary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    text-shadow: initial;
    background-color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    transition: background-color .3s, color .5s;
    -webkit-transition: background-color .3s, color .5s;
    -moz-transition: background-color .3s, color .5s;
    -ms-transition: background-color .3s, color .5s;
    -o-transition: background-color .3s, color .5s
}

.btn:active,
.btn.active {
    background-image: none
}

.btn-primary {
    border: 2px solid #357ebd;
    color: #357ebd
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #357ebd;
    border-color: #285e8e;
    background-position: 0 -15px
}

.btn-default {
    color: #f3b61d;
    border: 2px solid #f3b61d
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #FFF;
    background-color: #f3b61d;
    border-color: #f3b61d
}

.btn-success {
    border: 2px solid #588745;
    color: #588745
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #588745;
    border-color: #588745;
    background-position: 0 -15px
}

.btn-info {
    color: #5bc0de;
    border: 2px solid #5bc0de
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-warning {
    border: 2px solid #e38d13;
    color: #e38d13
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #e38d13;
    border-color: #d58512
}

.btn-danger {
    border: 2px solid #923535;
    color: #923535
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #923535;
    border-color: #923535
}

.btn-secondary {
    background-color: #2B9884;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 13px
}

.btn-filter {
    background-color: #fff;
    border-color: #ddd;
    color: #666
}

@media (max-width: 767px) {
    .btn-circle.btn-circle-large p {
        font-size: 0.5em;
        margin-top: 22px
    }
}


/* Toggle */

.onoffswitch {
    position: relative;
    width: 75px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #DDD;
    border-radius: 3px;
    margin-bottom: 0;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 20px;
    background-color: #357EBD;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 15px;
    background-color: #ADADAD;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 12px;
    margin: 0px;
    background-color: #DDD;
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 63px;
    transition: all 0.3s ease-in 0s;
    border-radius: 3px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.onoffswitch-group {
    display: inline-block;
}


/* Badges */

.badge {
    font-weight: 200;
    color: #fff;
    -webkit-transition: color 500ms, background-color 500ms;
    -moz-transition: color 500ms, background-color 500ms;
    -ms-transition: color 500ms, background-color 500ms;
    -o-transition: color 500ms, background-color 500ms;
    transition: color 500ms, background-color 500ms
}

.badge-danger {
    color: #fff
    background-color: #BA0000;
}

.badge-warning {
    background-color: #e38d13;
    color: #fff;
}

.badge-info {
    background-color: #5bc0de;
    color: #fff;
}

.badge-primary {
    background-color: #357ebd;
    color: #fff;
}

.badge-default {
    background-color: #ADADAD;
    color: #fff;
}

.badge-success {
    background-color: #2B9884;
    color: #fff;
}

.badge-danger-inverse {
    background-color: #fff;
    color: #BA0000;
}

.badge-warning-inverse {
    background-color: #fff;
    color: #e38d13;
}

.badge-info-inverse {
    background-color: #fff;
    color: #5bc0de;
}

.badge-primary-inverse {
    background-color: #fff;
    color: #357ebd;
}

.badge-default-inverse {
    background-color: #fff;
    color: #ADADAD;
}

.badge-success-inverse {
    background-color: #fff;
    color: #2B9884;
}


/* Callouts */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 400;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #ADADAD;
}
.bs-callout-default h4 {
    color: #ADADAD;
}
.bs-callout-primary {
    border-left-color: #357ebd;
}
.bs-callout-primary h4 {
    color: #357ebd;
}
.bs-callout-success {
    border-left-color: #2B9884;
}
.bs-callout-success h4 {
    color: #2B9884;
}
.bs-callout-danger {
    border-left-color: #2B9884;
}
.bs-callout-danger h4 {
    color: #2B9884;
}
.bs-callout-warning {
    border-left-color: #e38d13;
}
.bs-callout-warning h4 {
    color: #e38d13;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}


/* Images */

img.grey-border {
    border: 1px solid #DDD
}

.img-circle .jcrop-holder div {
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important
}

.img-circle.shadow-circle:hover::before {
    border: 1px solid #ECEDED;
    -moz-box-shadow: inset -3px 3px 10px 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: inset -3px 3px 10px 1px rgba(255, 255, 255, .5);
    box-shadow: inset -3px 3px 10px 1px rgba(255, 255, 255, .5)
}

.img-overlay-container {
    position: relative;
    display: inline-block;
    margin-bottom: 15px
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 40%;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    cursor: pointer
}

.img-overlay:hover {
    opacity: 1;
    transform: none
}

img.img-polaroid {
    max-width: 100%
}

.polaroids .polaroid:after {
    content: attr(data-polaroid-title)
}

.polaroids .polaroid {
    list-style: none;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #fff;
    display: inline;
    float: left;
    margin: 0 0 27px 30px;
    width: 140px;
    padding: 10px 7px 11px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -webkit-transition: -webkit-transform .15s linear;
    -moz-transition: -moz-transform .15s linear;
    -ms-transition: -ms-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    transition: transform .15s linear;
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg)
}

.polaroids .polaroid.polaroid-sm {
    width: 120px
}

.polaroids .polaroid-sm img {
    width: 100px!important;
    height: 100px
}

.polaroids .polaroid:hover,
.polaroids .polaroid:nth-child(even):hover,
.polaroids div:nth-child(even) .polaroid:hover,
.polaroids .polaroid.even:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    position: relative;
    z-index: 5
}

.polaroids .polaroid:nth-child(even),
.polaroids div:nth-child(even) .polaroid,
.polaroids .polaroid.even {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg)
}

.polaroids .polaroid:nth-child(3n),
.polaroids .polaroid div:nth-child(3n) .polaroid {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    position: relative;
    top: -5px
}

.polaroids .polaroid:nth-child(5n),
.polaroids .polaroid div:nth-child(5n) .polaroid {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
    position: relative;
    right: 5px
}

.polaroids .polaroid:nth-child(8n),
.polaroids .polaroid div:nth-child(8n) .polaroid {
    position: relative;
    top: 8px;
    right: 5px
}

.polaroids .polaroid:nth-child(11n),
.polaroids .polaroid div:nth-child(11n) .polaroid {
    position: relative;
    top: 3px;
    left: -5px
}

.polaroids .polaroid img {
    width: 120px;
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 10px;
    border: 1px solid #DDD
}

.project-polaroid {
    padding-top: 25px
}

.profile-image {
    max-height: 300px
}

.jcrop-keymgr {
    display: none!important
}

.jcrop-holder {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.splash {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    height: 100vh;
}

.splash h1 {
    font-size: 3.0em;
    text-shadow: none;
    font-weight: 300;
}

.splash h1 strong {
    font-weight: 300
}

.splash h1,
.splash h2,
.splash h3,
.splash h4 {
    color: #fff
}

.splash-overlay {
    background: rgba(0, 0, 0, .5);
    text-align: center;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    width: 100%;
    height: 100%
}

#home-splash {
    background-image: url(../img/splash/home.jpg);
}

#home-splash h1 {
    font-size: 2.0em;
}

#about-splash {
    background-image: url(../img/splash/Page_5455.jpg);
}

@media (max-width: 767px) {
    .splash {
        margin-top: 60px;
        min-height: 200px;
        max-height: 200px
    }
    .splash .btn-circle {
        display: none;
    }
    .splash .btn-circle.btn-circle-large {
        display: block;
        width: 80px;
        height: 80px;
        margin-bottom: 150px;
        margin-top: 0px
    }
    .splash h1 {
        font-size: 1.2em;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .splash h2 {
        display: none
    }
}

@media (min-width: 768px) {
    .splash {
        min-height: 550px
    }
    .img-dialog {
        width: 500px
    }
    .img-circle.shadow-circle {
        border: none;
    }
    .flickr-thumbnails h4,
    .flickr-thumbnails .h4 {
        text-overflow: ellipsis;
    }
}



/* Progress */

.meter {
    height: 310px;
    width: 80%;
    margin-left:10%;
    margin-right:10%
    position: relative;
    background: #fff;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 3px;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-pack: end;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end
}

.progress-bar {
    background-color: #588745
}

.meter > span {
    display: block;
    width: 100%;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 7px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 7px;
    background-color: #588745;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #588745), color-stop(1, #82a574));
    background-image: -moz-linear-gradient(center bottom, #588745 37%, #82a574 69%);
    -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative
}

.meter > span:after,
.animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden
}



/* Autocomplete */

.ui-menu-item {
    padding: 8px 15px;
    height: 40px;
}

.ui-menu-item.ui-state-focus {
    background-color: #EDEDED
}

.ui-autocomplete {
    border-top-color: #d9d9d9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: default;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}



/* Footer */

#main-footer {
    margin-top: 20px;
    width: 100%;
    bottom: 0;
    background-color: #F9F9F9;
    font-family: sans-serif;
    font-size: 12px;
    z-index: 100;
    position: relative;
}

#main-footer .container {
    padding-top: 20px;
}

#main-footer li {
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
}

#main-footer li > a {
    color: #777;
    transition: color 100ms;
    -webkit-transition: color 100ms;
    -ms-transition: color 100ms;
    -moz-transition: color 100ms;
    -o-transition: color 100ms
}

#main-footer li > a:hover {
    color: #6898c6;
    text-decoration: none
}

#main-footer ul {
    color: #777;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center
}

@media (max-width: 767px) {
    #main-footer {
        text-align: center
    }
    #main-footer .container {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px
    }
    #main-footer {
        height: 80px
    }
    #main-footer li {
        font-size: 2.0em;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 768px) {
    #main-footer {
        height: 100px
    }
}