<a href="{{url_for('project.task_presenter_editor', short_name=project.short_name, template='custom')}}">
    <div class="well well-link">
        <h2><i class="fa fa-picture-o"></i> Custom</h2>
        <h3>Use the custom Carleton template. Remember to update the name list.</h3>
    </div>
</a>
