<div class="container">
    <div class="row center vcenter hcenter">

        <div class="col-sm-3 col-xs-12 footer-col hidden-xs">
            <a href="http://labs.bl.uk/" target="_blank">
                <img class="img-responsive center-block ie-mid-vcenter" src="{{url_for('static', filename='img/carleton_logo_white.png')}}" alt="BL Labs logo">
            </a>
        </div>

        <div class="col-sm-6 footer-col">
        {% if not enforce_privacy %}
            <div class="row ie-vcenter">
                <ul>
                    <!--<li>
                        <a href="http://twitter.com/{{contact_twitter}}" target="_blank"><i class="fa fa-twitter padding-sides-xs"></i></a>
                    </li>-->
                    <li>
                        <a href="mailto:nwilson@carleton.edu"><i class="fa fa-envelope padding-sides-xs"></i></a>
                    </li>
                    <!--<li>
                        <a href="https://github.com/{{brand}}"><i class="fa fa-github padding-sides-xs"></i></a>
                    </li>-->
                </ul>
            </div>
        {% endif %}
        </div>

        <div class="col-sm-3 footer-col hidden-xs">
            <a href="http://pybossa.com/"  target="_blank">
                <img class="img-responsive center-block ie-mid-vcenter" src="{{url_for('static', filename='img/pybossa.png')}}"  alt="PyBossa logo">
            </a>
        </div>

    </div>
</div>