<div class="navbar navbar-fixed-top navbar-default notransition {% if not has_splash == 'true' %}opaque{% endif %}">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="fa fa-bars"></span>
            </button>

            <!-- Set logo -->
            <var id="logo-black" data-src="{{url_for('static',filename='img/carleton.png')}}"></var>
            <var id="logo-white" data-src="{{url_for('static',filename='img/carleton.png')}}"></var>
            <a class="navbar-brand" href="{{ url_for('home.home') }}">
                <img id="navbar-logo"
                {% if not active_page == 'index' and not has_splash == 'true' %}
                    src="{{url_for('static',filename='img/logo-dark.png')}}"
                {% else %}
                    src="{{url_for('static',filename='img/logo-white.png')}}"
                {% endif %} alt="{{brand}} logo" style="height: 30px; width: auto"/>
            </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-link{% if active_page == 'about' %} active{% endif %}">
                    <a href="{{ url_for('home.about')}}">About</a>
                </li>
                <li class="nav-link{% if active_page == 'projects' %} active{% endif %}">
                    <a href="{{ url_for('project.index') }}">Projects</a>
                </li>

                <!-- See https://github.com/LibCrowds/libcrowds-statistics -->
                <li class="nav-link{% if active_page == 'statistics' %} active{% endif %}">
                    {% if "libcrowds_statistics" in plugins %}
                    <a href="{{ url_for('statistics.index')}}">Statistics</a>
                    {% else %}
                    <a href="{{ url_for('stats.index')}}">Statistics</a>
                    {% endif %}
                </li>

                <!-- See https://github.com/alexandermendes/pybossa-discourse -->
                <li class="nav-link{% if active_page == 'community' %} active{% endif %}">
                    {% if 'pybossa_discourse' in plugins %}
                        {% set n = discourse.notifications() %}
                        <a href="{{ url_for('discourse.index')}}">Community
                            {% if n %}<span id="notifications" class="badge badge-info">{{ n }}</span>{% endif %}
                        </a>
                    {% else %}
                    <a href="{{ url_for('account.index')}}">Community</a>
                    {% endif %}
                </li>

                <!-- See https://github.com/LibCrowds/libcrowds-data -->
                {% if "libcrowds_data" in plugins %}
                    <li class="nav-link {% if active_page == 'data' %} active{% endif %}">
                        <a href="{{ url_for('data.index')}}">Data</a>
                    </li>
                {% endif %}
            </ul>

            <!-- Optional search form -->
            {% include '_gcs_form.html' ignore missing %}

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li class="nav-link">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="icon fa fa-user"></i> {{ current_user.name | truncate(10,true) }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-link">
                            <a href="{{ url_for('account.profile', name=current_user.name) }}"><i class="fa fa-user"></i> Profile</a>
                        </li>
                        <li class="nav-link">
                            <a href="{{ url_for('account.update_profile', name=current_user.name) }}"><i class="fa fa-cog"></i> Settings</a>
                        </li>

                        {% if staff_or_admin %}
                        <li class="divider" />

                        <li class="nav-link">
                            <a href="{{ url_for('project.new') }}"><i class="fa fa-plus"></i> New Project</a>
                        </li>
                        <li class="nav-link">
                            <a href="{{ url_for('account.projects', name=current_user.name) }}"><i class="fa fa-folder-open"></i> Open Project</a>
                        </li>

                            {% if current_user.admin %}
                            <li class="nav-link">
                                <a href="{{ url_for('admin.index') }}"><i class="fa fa-cog"></i> Admin</a>
                            </li>
                            {% endif %}
                        {% endif %}
                        <li class="divider"></li>

                        <!-- See https://github.com/alexandermendes/pybossa-discourse -->
                        <li class="nav-link">
                            {% if 'pybossa_discourse' in plugins %}
                            <a href="{{ url_for('discourse.signout') }}"><i class="fa fa-power-off"></i> Sign Out</a>
                            {% else %}
                            <a href="{{ url_for('account.signout') }}"><i class="fa fa-power-off"></i> Sign Out</a>
                            {% endif %}
                        </li>

                    </ul>
                </li>
                {% else %}
                <li class="nav-link"><a href="{{ url_for('account.signin') }}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
