<script type="text/javascript" src="/static/js/vendor/jquery-2.1.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<script src=/static/js/pybossa/pybossa.js></script>
<style>
  /* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
        list-style:none;
        padding: 10px;
    padding-bottom: 0;
        margin: 0;
        display:block;
        width:186px;
}
.ui-menu .ui-menu {
        margin-top: -3px;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        width: 200px;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
    color: #000;
}
.ui-menu .ui-menu-item:hover, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-state-active {
    color: #0b5091;
    font-weight: bold;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    margin: -1px;
}

  .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Local
----------------------------------*/
.task-presenter-input {
  display: block;
  margin-bottom:0.5em;
}

.task-presenter-toggle{
  background-color: #588745;
  color: #fff;
}

.task-presenter-toggle:hover{
  background-color: #fff;
  color: #588745;
}

</style>
<div class="row" style="margin-top: 8em">
    <!-- Success and Error Messages for the user -->
    <div class="col-md-6 col-md-offset-2" style="height:50px">
        <div id="success" class="alert alert-success" style="display:none;">
            <a class="close">×</a>
            <strong>Well done!</strong> <span>Your answer has been saved</span>
        </div>
        <div id="loading" class="alert alert-info" style="display:none;">
            <a class="close">×</a>
            <span>Loading next task...</span>
        </div>
        <div id="taskcompleted" class="alert alert-info" style="display:none;">
            <strong>The task has been completed!</strong> <span>Thanks a lot!</span>
        </div>
        <div id="finish" class="alert alert-success" style="display:none;">
            <strong>Congratulations!</strong> <span>You have participated in all available tasks!</span>
            <br>
            <div class="alert-actions">
                <a class="btn small" href="/">Go back</a>
                <a class="btn small" href="/project">or, Check other projects</a>
            </div>
        </div>
        <div id="error" class="alert alert-error" style="display:none;">
            <a class="close">×</a>
            <strong>Error!</strong> Something went wrong, please contact the site administrators
        </div>
    </div> <!-- End Success and Error Messages for the user -->
</div> <!-- End of Row -->

<!--
    Task DOM for loading the images
    It uses the class="skeleton" to identify the elements that belong to the
    task.
-->
<div class="row skeleton"> <!-- Start Skeleton Row-->
    <div class="col-md-6 "><!-- Start of Question and Submission DIV (column) -->
        <h1 id="question"><span>Do you know this person?</span></h1> <!-- The question will be loaded here -->
        <div id="answer-buttons"> <!-- Start DIV for the submission buttons -->
          <!-- If the user clicks this button, the name entry div will load-->
          <button class="btn btn-answer btn-success task-presenter-input" value='EnterName'><i class="fa fa-thumbs-up" style="margin-right:0.5em; "></i>I know this person</button>
          <!-- If the user clicks this button, the saved answer will be value="NotKnown"-->
          <button class="btn btn-answer btn-default task-presenter-input" value='NotKnown'><i class="fa fa-thumbs-down" style="margin-right: 0.5em;"></i>I don't know this person</button>
          <!-- If the user clicks this button, the saved answer will be value="object"-->
          <button class="btn btn-danger btn-answer task-presenter-input" value='object'><i class="fa fa-thumbs-o-down" style="margin-right: 0.5em;"></i>This is an object</button>
        </div><!-- End of DIV for the answer submission -->
        <div id="text_input" style="display: none"><!-- Start DIV for the text input -->
            <button class="btn btn-answer btn-success task-presenter-input task-presenter-toggle" value='cancel'><i class="fa fa-thumbs-up" style="margin-right:0.5em;"></i>I know this person</button>
            <input type="text" name="tagname" id="tagname" class="task-presenter-input" style="height: 37.23px; min-width: 228.26px;" placeholder="Enter name">
              <!-- If the user clicks this button, the saved answer will be value of the text input-->
              <button class="btn btn-answer btn-default" value='cancel' style="margin-bottom: 0.5em; margin-right: 0.5em;">Cancel</button>
              <!-- If the user clicks this button, the answer buttons div will load-->
              <button class="btn btn-success btn-answer" value='submit' style="margin-bottom: 0.5em;">Submit</button>
        </div>
    </div><!-- End of Question and Submission DIV (column) -->
    <div class="col-md-6"><!-- Start of Photo DIV (column) -->
        <a id="photo-link" href="#">
            <img id="photo" src="http://i.imgur.com/GeHxzb7.png" style="max-width=100%" alt="Loading">
        </a>
    </div><!-- End of Photo DIV (columnt) -->
</div><!-- End of Skeleton Row -->

<noscript>Please enable JavaScript to use the task presenter</noscript>
<script type="text/JavaScript">

var studentNames = [/*replace this empty list with your JSON-formatted list of names*/]


$("#tagname").autocomplete({
  maxResults: 10,
  source: function(request, response){
    var results = $.ui.autocomplete.filter(studentNames, request.term);
    response(results.slice(0, this.options.maxResults));
  },
  minLength: 2
})

function loadUserProgress() {
    pybossa.userProgress('{{project.short_name}}').done(function(data){
        var pct = Math.round((data.done*100)/data.total);
        $("#progress").css("width", pct.toString() +"%");
        $("#progress").attr("title", pct.toString() + "% completed!");
        $("#progress").tooltip({'placement': 'left'});
        $("#total").text(data.total);
        $("#done").text(data.done);
    });
}

pybossa.taskLoaded(function(task, deferred) {
    if ( !$.isEmptyObject(task) ) {
        // load image from flickr
        var img = $('<img />');
        img.load(function() {
            // continue as soon as the image is loaded
            deferred.resolve(task);
        });
        img.attr('src', task.info.url).css('height', 460);
        img.addClass('img-polaroid');
        task.info.image = img;
    }
    else {
        deferred.resolve(task);
    }
});

pybossa.presentTask(function(task, deferred) {
    if ( !$.isEmptyObject(task) ) {
        loadUserProgress();
        $('#photo-link').html('').append(task.info.image);
        $("#photo-link").attr("href", task.info.link);
        $('#task-id').html(task.id);
        $('.btn-answer').off('click').on('click', function(evt) {
            var btn = $(this);
            var answer = btn.attr("value");
            var name = document.getElementById("tagname");
            if (typeof answer != 'undefined') {
              if (answer === "EnterName"){
                $('#text_input').css("display", "block")
                $('#answer-buttons').css("display", "none")
              } else if (answer === "submit"){
                pybossa.saveTask(task.id, name.value).done(function(){
                  deferred.resolve();
                })
                $('#text_input').css("display", "none")
                $('#answer-buttons').css("display", "block")
                name.value = "";
                $("#loading").fadeIn(500);
                $('.task-presenter-input').blur();
              } else if (answer === "cancel"){
                $('#text_input').css("display", "none")
                $('#answer-buttons').css("display", "block")
              } else{
                name.value = "";
                pybossa.saveTask(task.id, answer).done(function() {
                deferred.resolve();
                })
                $("#loading").fadeIn(500);
                $('.task-presenter-input').blur();
            };
            }

            else {
                $("#error").show();
            }
        });
        $("#loading").hide();
    }
    else {
        $(".skeleton").hide();
        $("#loading").hide();
        $("#finish").fadeIn(500);
    }
});

pybossa.run('{{project.short_name}}');
</script>