<script type="text/javascript" src="/static/js/vendor/jquery-2.1.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<script src=/static/js/pybossa/pybossa.js></script>
<style>
  /* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
        list-style:none;
        padding: 10px;
    padding-bottom: 0;
        margin: 0;
        display:block;
        width:186px;
}
.ui-menu .ui-menu {
        margin-top: -3px;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        width: 200px;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
    color: #000;
}
.ui-menu .ui-menu-item:hover, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-state-active {
    color: #0b5091;
    font-weight: bold;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    margin: -1px;
}

  .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
</style>
<div class="row" style="margin-top: 8em">
    <!-- Success and Error Messages for the user -->
    <div class="col-md-6 col-md-offset-2" style="height:50px">
        <div id="success" class="alert alert-success" style="display:none;">
            <a class="close">×</a>
            <strong id="i18n_welldone">Well done!</strong> <span id="i18n_welldone_text">Your answer has been saved</span>
        </div>
        <div id="loading" class="alert alert-info" style="display:none;">
            <a class="close">×</a>
            <span id="i18n_loading_next_task">Loading next task...</span>
        </div>
        <div id="taskcompleted" class="alert alert-info" style="display:none;">
            <strong id="i18n_task_completed">The task has been completed!</strong> <span id="i18n_thanks">Thanks a lot!</span>
        </div>
        <div id="finish" class="alert alert-success" style="display:none;">
            <strong id="i18n_congratulations">Congratulations!</strong> <span id="i18n_congratulations_text">You have participated in all available tasks!</span>
            <br>
            <div class="alert-actions">
                <a class="btn small" href="/">Go back</a>
                <a class="btn small" href="/project">or, Check other projects</a>
            </div>
        </div>
        <div id="error" class="alert alert-error" style="display:none;">
            <a class="close">×</a>
            <strong>Error!</strong> Something went wrong, please contact the site administrators
        </div>
    </div> <!-- End Success and Error Messages for the user -->
</div> <!-- End of Row -->

<!--
    Task DOM for loading the Flickr Images
    It uses the class="skeleton" to identify the elements that belong to the
    task.
-->
<div class="row skeleton"> <!-- Start Skeleton Row-->
    <div class="col-md-6 "><!-- Start of Question and Submission DIV (column) -->
        <h1 id="question"><span id="i18n_question">Do you know this person?</span></h1> <!-- The question will be loaded here -->
      <div id="answer"> <!-- Start DIV for the submission buttons -->
          <div id="text_input" style="margin-bottom: 1em"><!-- Start DIV for the text input -->
            Name:   <input type="text" name="tagname" id="tagname" style="height: 40px; margin-left: 1em; margin-right: 1em; margin-bottom:0;">
            <!-- If the user clicks this button, the saved answer will be value of the text input-->
          <button class="btn btn-success btn-answer" value='submit'><i class="fa fa-thumbs-o-up" style="margin-right: 0.5em"></i> <span id="i18n_yes">Submit</span></button>
          </div>
        <div id="answer_buttons"> <!-- Start DIV for the answer buttons -->
          <!-- If the user clicks this button, the saved answer will be value="object"-->
          <button class="btn btn-danger btn-answer" value='object'><i class="fa fa-thumbs-o-down" style="margin-right: 0.5em"></i>This is an object</button>
          <!-- If the user clicks this button, the saved answer will be value="NotKnown"-->
          <button class="btn btn-answer btn-default" value='NotKnown'><i class="fa fa-question" style="margin-right: 0.5em"></i> <span id="i18n_i_dont_know">I don't know this person</span></button>
          </div>
        </div><!-- End of DIV for the answer submission -->
    </div>
    <div class="col-md-6"><!-- Start of Photo DIV (column) -->
        <a id="photo-link" href="#">
            <img id="photo" src="http://i.imgur.com/GeHxzb7.png" style="max-width=100%" alt="Loading">
        </a>
    </div><!-- End of Photo DIV (columnt) -->
</div><!-- End of Skeleton Row -->

<script type="text/javascript">

var studentNames = [
  "Barbara Vazquez",
  "Gilda Bowers",
  "Bradshaw Adams",
  "Dixon Blair",
  "Mari Franks",
  "Moran Burton",
  "Jo Thornton",
  "Rosales Lawrence",
  "Carolyn Gilbert",
  "Amie Walker",
  "Mercer Noel",
  "Oconnor Vinson",
  "Patricia Hahn",
  "Buck Hughes",
  "Glenn Wooten",
  "Patton Stevens",
  "Viola Drake",
  "Mara James",
  "Grace Sharpe",
  "Tia William",
  "Barlow Poole",
  "Blackwell Mccray",
  "Kline Wilkinson",
  "Stokes Hobbs",
  "Hilda Carter",
  "Cohen Fox",
  "Vicky Bullock",
  "Camille Moon",
  "Snider Obrien",
  "Strong Frank",
  "Gilbert Sparks",
  "Mills Mccullough",
  "Tasha Kline",
  "Gladys Blackwell",
  "Travis Lopez",
  "Dorothy Lowe",
  "Helena Nixon",
  "Nola Buck",
  "Lori Ray",
  "Nona Solomon",
  "Marsha Sampson",
  "Concepcion Kinney",
  "Mitchell Hoffman",
  "Joyce Burt",
  "Manuela Page",
  "Ware Hickman",
  "Morris Kaufman",
  "Simon Mills",
  "Anthony Moses",
  "Cherry Hyde",
  "Corine Cook",
  "Lilia Finch",
  "Reva Huber",
  "Boone Conway",
  "Phillips Caldwell",
  "Acosta Banks",
  "Mable Cotton",
  "Curry Witt",
  "Dona Elliott",
  "Byrd Morin",
  "Katelyn Whitfield",
  "Priscilla Battle",
  "Bridgett Brown",
  "Parsons Barr",
  "Ashley Levy",
  "Goodwin Lane",
  "Leah Baker",
  "Jerry Baldwin",
  "Beatriz Mccoy",
  "Maria Clements",
  "Holder Monroe",
  "Earlene Cooley",
  "Tisha Good",
  "Ava Oconnor",
  "Harrison Gomez",
  "Beach Short",
  "Lois Lewis",
  "Crane Peck",
  "Chapman Faulkner",
  "Annette Bailey",
  "Myra Eaton",
  "Sandy Horton",
  "Katherine Gates",
  "Donaldson Stout",
  "Serrano Vargas",
  "Rocha Mcintosh",
  "Aida Alston",
  "Rowland Stanley",
  "Joyce Edwards",
  "Meghan Glass",
  "Lena Matthews",
  "Cathy Preston",
  "Patti Chambers",
  "Melton Duffy",
  "Erica Olson",
  "Bertha Hebert",
  "Shanna Gaines",
  "Glenna Burke",
  "Zelma Benson",
  "Mccall Barton",
  "Lela Salas",
  "Brennan Reid",
  "Polly Pace",
  "Shelton Forbes"
]

$("#tagname").autocomplete({
  source: studentNames,
  minLength: 2
})

function loadUserProgress() {
    pybossa.userProgress('{{project.short_name}}').done(function(data){
        var pct = Math.round((data.done*100)/data.total);
        $("#progress").css("width", pct.toString() +"%");
        $("#progress").attr("title", pct.toString() + "% completed!");
        $("#progress").tooltip({'placement': 'left'});
        $("#total").text(data.total);
        $("#done").text(data.done);
    });
}

pybossa.taskLoaded(function(task, deferred) {
    if ( !$.isEmptyObject(task) ) {
        // load image from flickr
        var img = $('<img />');
        img.load(function() {
            // continue as soon as the image is loaded
            deferred.resolve(task);
        });
        img.attr('src', task.info.url_b).css('height', 460);
        img.addClass('img-polaroid');
        task.info.image = img;
    }
    else {
        deferred.resolve(task);
    }
});

pybossa.presentTask(function(task, deferred) {
    if ( !$.isEmptyObject(task) ) {
        loadUserProgress();
        $('#photo-link').html('').append(task.info.image);
        $("#photo-link").attr("href", task.info.link);
        $('#task-id').html(task.id);
        $('.btn-answer').off('click').on('click', function(evt) {
            var btn = $(this);
            var answer = btn.attr("value");
            var name = document.getElementById("tagname");
            if (typeof answer != 'undefined') {
              if (answer === "submit"){
                pybossa.saveTask(task.id, name.value).done(function(){
                  deferred.resolve();
                })
                name.value = "";
              } else{
                name.value = "";
                pybossa.saveTask(task.id, answer).done(function() {
                deferred.resolve();
                })
            };
                $("#loading").fadeIn(500);
                if ($("#disqus_thread").is(":visible")) {
                    $('#disqus_thread').toggle();
                    $('.btn-disqus').toggle();
                }
            }
            else {
                $("#error").show();
            }
        });
        $("#loading").hide();
    }
    else {
        $(".skeleton").hide();
        $("#loading").hide();
        $("#finish").fadeIn(500);
    }
});

pybossa.run('{{project.short_name}}');
</script>