<div class="row">
    <div class="col-md-12">
        <h1><strong>{{project.name}}</strong>: Task Presenter Editor</h1>
        <p class="lead">First select one of the following
        <strong>templates</strong> as a basis for your project
    </div>
</div>
{% set custom = ['projects/presenters/custom.html'] %}
{% for column in (custom + presenters|list)|batch(2)%}
<div class="row">
    {% for presenter_tmpl in column %}
    <div class="col-md-6">
        {% include presenter_tmpl %}
    </div>
    {% endfor %}
</div>
{% endfor %}
